<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--start header-->
  <div th:replace="admin/header :: header"></div>
<!--end header-->
<body>

<!--start navbar-->
   <div th:replace="admin/header :: navbar"></div>
<!--end navbar-->

  <div class="container">
      <div class="row">
         <h1>List Blog Posts</h1>
          <table class="table table-striped table-hover table-border">
            <thead class="table-dark">
              <th style="width:10%">#</th>
              <th style="width:20%">Title</th>
              <th style="width:30%">Description</th>
              <th style="width:20%">Created On</th>
              <th style="width:20%">Action</th>
            </thead>
            <tbody>
              <tr th:each="temp, postStat : ${postsDtoList}">
                <td th:text="${postStat.count}">1</td>
                <td th:text="${temp.title}">post title</td>
                <td th:text="${temp.description}">post description</td>
                <td th:text="${temp.createdOn}">post created date</td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
<!--start footer-->
   <div th:replace="admin/footer :: footer"></div>
<!--end footer-->
</body>
</html>